@if(Model.CarouselData!=null)
{
<div id="stepbystepCarousel" class="carousel slide">
                 @if(Model.CarouselData.Count>0)
                { int cnt=0;
                <ol class="carousel-indicators">
                     @foreach (dynamic item in Model.CarouselData)
                    {
                       <li data-target="#stepbystepCarousel" data-slide-to="@(cnt++)" data-id="@(Html.Raw((item.id!=null&&item.id>0)?item.id:""))" class="@(Html.Raw((item.Active!=null&&item.Active)?" active":""))">
                        </li>                        
                    }                    
                </ol>
                 }
                <div class="carousel-inner">
                    @foreach (dynamic item in Model.CarouselData)
                    {
                        <div class="item@(Html.Raw((item.Active!=null&&item.Active)?" active":""))">
                            <img src="@item.url" style="height:100%;width:100%" data-stepbyid="@(Html.Raw((item.id!=null&&item.id>0)?item.id:""))"/>
                            <div class="carousel-caption">
                                <h6>@item.description</h6>
                            </div>
                        </div>
                    }
                </div>
                @if(Model.CarouselData.Count>0)
                {
                <a class="carousel-control left" href="#stepbystepCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#stepbystepCarousel" data-slide="next">&rsaquo;</a>
                }
 </div>
 <script>$('#stepbystepCarousel').carousel();</script>
}
